server{
    listen 8080;
    listen [::]:9001;

    proxy_pass localhost:3001;
}

server{
    listen 8443 ssl;
    listen [::]:8443 ssl;

    ssl_certificate /etc/nginx/ssl/live/${NGINX_HOST}/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/live/${NGINX_HOST}/privkey.pem;

    proxy_pass localhost:3001;
}
